{# This file is an example env.yml.
 # Ansible will automatically copy its contents into env.yml the first time you provision.
 #
 # If you'd like to override these ENV variables, edit env.yml instead,
 # because env.yml is listed in .gitignore and therefore will *not* be included in your commits.
 #
 # (That is, if you want to use your own Stripe keys or something,
 #  you can safely use them in env.yml without committing them to the public repository.)
 #
 # (To trigger jinja2 processing, I'll ask for a {{ variable }}.)
 #}
---
env:
  AWS_SERVER_HOST: localhost
  AWS_SERVER_PORT: 4000
  AWS_SERVER_PROTOCOL: http
  AWS_ACCESS_KEY_ID: DEV_PLACEHOLDER
  AWS_SECRET_ACCESS_KEY: DEV_PLACEHOLDER

  OPENNEO_AUTH_APP: impress
  OPENNEO_AUTH_SERVER: id.dev.openneo.net
  OPENNEO_AUTH_SECRET: DEV_PLACEHOLDER

  STRIPE_SECRET_KEY: DEV_PLACEHOLDER
  STRIPE_PUBLISHABLE_KEY: DEV_PLACEHOLDER
